@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 3rem;
  --md-header-height: 5rem;
}
.markdown {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: var(--md-header-height);
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #a1a1a1;
}
::-webkit-scrollbar-thumb:hover {
  background: #676767;
}

@layer components {
  .page-title {
    @apply text-2xl md:text-4xl font-bold mb-8 md:mb-14;
  }

  .tag-chip {
    @apply inline-block rounded-xl px-2.5 py-1 bg-indigo-100 hover:bg-indigo-200 font-semibold text-indigo-600;
  }

  /* TOC */
  .table-of-contents {
    @apply absolute top-20 right-[-10px];
    /*
      Tailwind로 hidden을 사용하면 DOM에 잡히지 않아서
      TOC scroll event가 적용되지 않기에 media query로 구현
      */
    @media (max-width: 1280px) {
      display: none;
    }
  }
  .table-of-contents > div {
    @apply fixed max-w-xs;
  }
  .table-of-contents ul {
    @apply pl-6;
  }
  .table-of-contents a {
    @apply text-gray-400 leading-8;
  }
  .table-of-contents a.active {
    @apply text-indigo-600 font-bold;
  }
}

@layer utilities {
  .center-content {
    @apply max-w-3xl mx-auto px-4 py-6 md:py-16;
  }
}
