@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 3rem;
  --md-header-height: 5rem;
}
.markdown {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: var(--md-header-height);
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #a1a1a1;
}
::-webkit-scrollbar-thumb:hover {
  background: #676767;
}

@layer components {
  .page-title {
    @apply text-2xl md:text-4xl font-bold mb-8 md:mb-14;
  }

  .tag-chip {
    @apply inline-block rounded-xl p-2.5 py-1.5 bg-indigo-100 hover:bg-indigo-200 font-semibold text-indigo-600;
  }

  /* TOC */
  .table-of-contents {
    @apply absolute top-20 right-[-10px];

    @media (max-width: 1280px) {
      display: none;
    }

    > div {
      @apply fixed max-w-xs;
    }

    ul {
      @apply pl-6;
    }

    a {
      @apply text-gray-400 leading-8 line-clamp-1;
    }
    a.active {
      @apply text-indigo-600 font-bold;
    }
  }
}

@layer utilities {
  .center-content {
    @apply max-w-3xl mx-auto px-4 py-6 md:py-16;
  }
}
